.btn1{
    background-color:rgb(211, 195, 226);
    color: white;
}
.btn2{
    background-color:rgb(147, 224, 157);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
}

.btn3{
    background-color:rgb(214, 206, 87);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: end;
    border: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}